*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;

}
h1{
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 5px white;
    color: white;
}
.navBar{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
.navBar li a{
    text-decoration: none;
    font-size: 18px;
    color: white;

}